<div class="container">

  <div class="photo_form">
    <h2>Add a Photo of Paul</h2>

    <form method="post" action="/photos">
        <label for="photo[title]">Photo Title:</label>
        <input type="text" name="photo[title]" placeholder="Paul at the Beach">

        <label for="photo[photo_url]">Photo URL:</label>
        <input type="text" name="photo[photo_url]" placeholder="http://www.photosofpaulclub.com/paul.jpg">

        <label for="photo[member_id]">Your Name:</label>
        <input type="text" name="photo[member_id]" placeholder="Paul Smith">

        <input type="submit" value="Add a Paul">
    </form>

  </div> <!-- end of new form div -->

</div>
