<!DOCTYPE html>
<html>
  <head>
    <title>Photos of Paul Club</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1><a href="/">The Photos of Paul Club</a></h1>
      <nav>
        <a href="">Who Is Paul?</a>
        <a href="">Random Paul</a>
        <a href="">Add a Paul</a>
        <a href="">Join the Club</a>
      </nav>
    </header>


    <%= yield %>
  </body>
</html>
